<div>
	<div class="avatar">
		<%= avatar(current_user, :size => 48) %>
	</div>
	<div class="">
		
		<span class="greeting">
			Welcome <%= current_user.first_name %>!
		</span>
		<%= link_to "Posts", manage_posts_path %> |
		<%= link_to "Users", manage_users_path %> |
		<%= link_to "Edit profile", edit_manage_user_path(current_user) %> |
		<%= link_to "Sign out", destroy_user_session_path %>
	</div>
</div>