<h1>Users</h1>
<table width="100%">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>&nbsp;</th>
	</tr>
	<%- @users.each_with_index do |user, index| -%>
		<tr class="<%= "odd" if index%2==0 %>">

			<td><%= user.to_s %></td>
			<td><%= user.email %></td>
			<td>
				<%= link_to "Edit", edit_manage_user_path(user) %>
				<%= link_to "Delete", manage_user_path(user), :method => :delete, :confirm => "Are you sure?" %>
			</td>
		</tr>
	<%- end -%>
</table>

<%- content_for :sidebar do -%>
	<div class="widget first">
		<%= link_to "+ Create new user", new_manage_user_path, :class => "button blue"  %>
	</div>
<%- end -%>