<%= simple_form_for [:manage, @post] do |f| %>
	<%= f.input :title %>
	<%= f.input :author, :input_html => {:value => @post.author || current_user.to_s}, :as => :string %>
	<%= f.input :content, :input_html => {:rows => 10}, :as => :text %>
	<%= f.input :tags, :as => :hidden %>
	<div>
		<%= link_to "Preview", "#", :class => "button" %>
		<%- if @post.is_published? -%>
			<%= f.button :submit, "Update", :class => "button green" %>
		<%- else -%>
			<%= f.submit "Save draft", :class => "button"%>
			<%= f.submit "Publish", :name => "publish", :class => "button green" %>
		<%- end -%>
	</div>
<% end %>

<%- content_for :sidebar do -%>

	<div class="widget first">
		<h2>Tags</h2>
		<p>
			Start adding tags below, separated with a comma.
		</p>
		<p class="input string clearfix">
			<%= text_field_tag :tags, "", :class => "tag_input", :"data-form-target" => "#post_tags", :"data-target" => "#tag_area" %>
		</p>
		<p id="tag_area" class="tags clearfix">
			<%- if @post.tags_array -%>
				<%- @post.tags_array.each do |tag| -%>
					<span class="tag removable"><%= link_to tag.to_s.strip, ujs_func, :"data-form-target" => "#post_tags" %></span>
				<%- end -%>
			<%- end -%>
		</p>
	</div>
	<div class="widget">
		<h2>Images</h2>	
		<%= render :partial => 'manage/attachments/form' %>
	</div>
	<div class="widget">
		<h2>Recent Images</h2>
		<%- Attachment.recent.each do |attachment| -%>
			<%= render :partial => 'manage/attachments/attachment', :locals => {:attachment => attachment} %>
		<%- end -%>
	</div>
<%- end -%>