<%- show_full_post ? header_tag = :h1 : header_tag = :h2 %>
<div id="post_<%= post.to_param %>" class="post">
	<%= content_tag header_tag, link_to(post.title, article_path(:year => post.published_at.year, :month => post.published_at.month, :day => post.published_at.day, :id => post.to_param)) %>
	<div class="byline">
		<em>Written by <%= link_to post.author, post_by_path(post.author.parameterize) %>, on <%= post.published_at.strftime("%d, %B %Y") %></em>
	</div>
	<div class="summary">
		<%- if show_full_post -%>
			<%= post.content.md %>
		<%- else -%>
			<%= post.content.smart_summary(:sentences => 10, :letters => 1000) %>
			<%= link_to "&rsaquo; read more".html_safe, article_path(:year => post.published_at.year, :month => post.published_at.month, :day => post.published_at.day, :id => post.to_param) %>
		<%- end -%>
	</div>
	<div class="tags clearfix">
		<%- post.tags.each do |tag| -%>
			<span class="tag">
				<%= link_to tag, tagged_path(CGI.escape(tag.to_s)) %>
			</span>
		<%- end -%>
	</div>
	
	<div>
		<%- if show_full_post -%>
			<%= link_to "&lsaquo; Back to news".html_safe, news_path %>
		<%- end -%>
	</div>
</div>