<h1>News</h1>

<div class="page_details">
	<%= page_entries_info(@posts).html_safe %> 
	<%= "tagged with <strong>#{params[:tag]}</strong>".html_safe if params[:tag] %>
	<%= "by <strong>#{params[:name].titleize}</strong>".html_safe if params[:name] %>
</div>

<%- @posts.each do |post| -%>
	<%= render :partial => "post", :locals => {:show_full_post => false, :post => post} %>
<%- end -%>
<p>
	<%= will_paginate @posts %>
</p>

<%- content_for :sidebar do -%>
	<div class="widget first search">
		<h2>Search</h2>
		<div class="clearfix">
			<%= simple_form_for :search, :url => news_path, :html => {:method => :get} do |f| %>
				<%= f.input :q, :label => nil, :required => false, :input_html => {:name => "q", :class => "text"} %>
				<%= f.submit "&rsaquo;".html_safe, :class => "button", :name => nil %>
			<% end %>
		</div>
	</div>
	
	<div class="widget">
		<h2>Popular Tags</h2>
		<div>
			<%- Post.tags_with_weight.each do |tag| -%>
				<%- if tag.last > 1 -%>
					<%= link_to tag.first, tagged_path(:tag => CGI.escape(tag.first)) %>
				<%- end -%>
			<%- end -%>
		</div>
	</div>
	
	<div class="widget">
		<h2>Archive</h2>
		<div>
			<ul>
				<%- Post.archive_dates.each do |archive_date| -%>
					<li><%= link_to archive_date[:date].strftime("%B, %Y"), url_for(:action => "index", :year => archive_date[:date].year, :month => archive_date[:date].month) %> (<%= archive_date[:count] %>)</li>
				<%- end -%>
			</ul>
		</div>
	</div>
<%- end -%>	