<%= simple_form_for [:manage, @post] do |f| %>
	<%= f.input :title %>
	<%= f.input :author, :input_html => {:value => @post.author || current_user.to_s}, :as => :hidden %>
	<%= f.input :content, :input_html => {:rows => 10} %>
	<%= f.input :tag_list, :as => :string %>
	<div>
		<%= link_to "Preview", "#", :class => "button" %>
		<%- if @post.is_published? -%>
			<%= f.submit "Update" %>
		<%- else -%>
			<%= f.submit "Save draft", :class => "button"%>
			<%= f.submit "Publish", :name => "publish", :class => "button green" %>
		<%- end -%>
	</div>
<% end %>

<%- content_for :sidebar do -%>

	<div class="widget first">
		<h2>Tags</h2>
		<p>
			Start adding tags below, separated with a comma.
		</p>
		<p class="input string clearfix">
			<%= text_field_tag :tags, "", :class => "tag_input", :"data-form-target" => "#post_tag_list", :"data-target" => "#tag_area" %>
		</p>
		<p id="tag_area" class="tags clearfix">
			<%- @post.tags.each do |tag| -%>
				<span class="tag removable"><%= link_to tag.to_s.strip, ujs_func, :"data-form-target" => "#post_tag_list" %></span>
			<%- end -%>
		</p>
	</div>
	<div class="widget">
		<h2>Images</h2>
		<p>
			No images yet. Click below to start adding images to this post, or select from the list of previous images.
		</p>
		<%= link_to "+ Upload image", "#", :class => "button blue"%>
	</div>
	<div class="widget">
		<h2>Recent Images</h2>
		<p>
			No images found.
		</p>
	</div>
<%- end -%>