<%= simple_form_for [:manage, @post] do |f| %>
	<%= f.input :title %>
	<p>
		By: <%= @post.author || current_user.to_s %>
	</p>
	<%= f.input :tag_list %>
	<%= f.input :author, :input_html => {:value => @post.author || current_user.to_s}, :as => :hidden %>
	<%= f.input :content %>
	<%- if @post.is_published? -%>
		<%= f.submit "Update" %>
	<%- else -%>
		<%= f.submit "Save draft" %>
		<%= f.submit "Publish", :name => "publish", :input_html => {:class => "button"} %>
	<%- end -%>
<% end %>