<h1>All News Posts</h1>

<%- unless @drafts.empty? -%>
	<h2>Drafts</h2>
	<table width="100%">
		<tr>
			<th width="300">Title</th>
			<th>Author</th>
			<th class="actions">&nbsp;</th>
		</tr>
		<%- @drafts.each_with_index do |post, index| -%>
			<tr class="<%= "odd" if index%2==0 %>">
				<td><%= post.title %></td>
				<td><%= post.author %></td>
				<td class="actions">
					<%- if post.published_at -%>
						<%= link_to "View", article_path(:year => post.published_at.year, :month => post.published_at.month, :day => post.published_at.day, :id => post.to_param) %>
					<%- else -%>
						<%= link_to "Publish", post_publish_path(post) %>
					<%- end -%>
					<%= link_to "Edit", edit_manage_post_path(post) %>
					<%= link_to "Delete", manage_post_path(post), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
				</td>
			</tr>
		<%- end -%>
	</table>
<%- end -%>

<h2>Published</h2>

<table width="100%">
	<tr>
		<th width="300">Title</th>
		<th>Author</th>
		<th class="actions">&nbsp;</th>
	</tr>
	<%- @posts.each_with_index do |post, index| -%>
		<tr class="<%= "odd" if index%2==0 %>">
			<td><%= post.title %></td>
			<td><%= post.author %></td>
			<td class="actions">
				<%- if post.published_at -%>
					<%= link_to "View", article_path(:year => post.published_at.year, :month => post.published_at.month, :day => post.published_at.day, :id => post.to_param) %>
				<%- else -%>
					<%= link_to "Publish", post_publish_path(post) %>
				<%- end -%>
				<%= link_to "Edit", edit_manage_post_path(post) %>
				<%= link_to "Delete", manage_post_path(post), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
			</td>
		</tr>
	<%- end -%>
</table>

<p>
	<%= will_paginate @posts %>
</p>

<%- content_for :sidebar do -%>
	<div class="widget first">
		<%= link_to "+ Create news post", new_manage_post_path, :class => "button blue" %>
	</div>
<%- end -%>