<%= simple_form_for [:manage, @user] do |f| %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :email %>
	<%= f.input :roles %>
	
	<%- if @user.new_record? -%>
		<h2>Password: <%= new_password = ActiveSupport::SecureRandom.hex(3) %></h2>
		<%= f.input :password, :as => :hidden, :input_html => {:value => new_password} %>
		<%= f.input :password_confirmation, :as => :hidden, :input_html => { :value => new_password } %>
	<%- else -%>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
	<%- end -%>
	
	<%= f.submit %>
<% end %>