<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Posterity" %></title>
    <%= stylesheet_link_tag "posterity/styles" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<link rel="shortcut icon" href="/favicon.ico">
  	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="image_src" href="/facebook-icon.png" />
	<%= javascript_include_tag "libs/modernizr-1.6.min.js" %>	
  </head>
  <body>
		<header>
			<div class="container clearfix">
				<div class="left">
					<%= render :partial => "shared/logo", :locals => {:after => "management console"} %>
				</div>
				<nav>
					<%= render :partial => 'manage/shared/navigation'%>
				</nav>
			</div>
		</header>
		
		<div id="main">
			<div class="container">
				<%- unless flash.empty? -%>
					<div class="flash">
						<% flash.each do |name, msg| %>
	        		<%= content_tag :div, msg, :class => "#{name}" %>
	   				<% end %>
					</div>
				<%- end -%>
				<div class="four columns clearfix">
					<div class="col span_3">
						<%= yield %>
					</div>
					<div class="col last">
						<aside>
							<%= yield :sidebar %>
						</aside>
					</div>
				</div>
			</div>
		</div>
		
		<footer>
			<div class="container">
				&copy; 2010-<%= Time.now.year %> <%= link_to "Involved", "http://involved.com.au", :target => :blank %> |
				Driven by <%= link_to "Posterity", "http://github.com/involved", :target => :blank %> |
				<%= link_to "Manage", manage_posts_path %>
			</div>
		</footer>
		<%= render :partial => "shared/javascripts" %>
  </body>
</html>
