<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Posterity" %></title>
    <%= stylesheet_link_tag "posterity/styles" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
		<div id="login">
			<%= render :partial => "shared/logo" %>
			<%- unless flash.empty? -%>
				<div class="flash">
					<% flash.each do |name, msg| %>
        		<%= content_tag :div, msg, :class => "#{name}" %>
   				<% end %>
				</div>
			<%- end -%>
			<%= yield %>
		</div>
  </body>
</html>
