<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Posterity" %></title>
    <%= stylesheet_link_tag "posterity/styles" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
		<link rel="shortcut icon" href="/favicon.ico">
	  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="image_src" href="/facebook-icon.png" />
  </head>
  <body>
		<div id="login">
			<%= render :partial => "shared/logo" %>
			<%- unless flash.empty? -%>
				<div class="flash">
					<% flash.each do |name, msg| %>
        		<%= content_tag :div, msg, :class => "#{name}" %>
   				<% end %>
				</div>
			<%- end -%>
			<%= yield %>
		</div>
		<%= render :partial => "shared/javascripts" %>
  </body>
</html>
